*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
background: linear-gradient(90deg, #85F6B8 0%, rgba(142, 217, 235, 0.85) 99.84%);
background-blend-mode: darken;
width: 100%;
height: 100%;
}

h1{
width: 572px;
height: 32px;
text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 39px;
color: #555555;
padding-bottom: 40px;
}

p{	
 text-align: center;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 50px;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 300;
 font-size: 25px;
 line-height: 30px;
 color: #555555;
}

#main_container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
background-color: white;
width: 572px;
height: 750px;
margin: auto;
padding-top: 100px;
margin-top: 50px;
margin-bottom: 50px;
}

.content {
	margin-top: 8px;
}

label{
/* position: absolute;
left: 0%;
right: 12.63%;
top: 0%;
bottom: 84.82%; */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #555555;
}

input{
box-sizing: border-box;
background: #FFFFFF;
border: 1px solid #dad9d9;
width: 500px;
height: 50px; 
padding-left: 20px;
font-size: 15px;
font-family: 'Inter';
font-style: normal;
}
#form{
	padding: 21px 33px 14px;

}
.login{
width: 226px;
height: 59px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
position: relative;
top: 51px;
left: 133px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
background: #028A3D;
color: #FFFFFF;
}
